.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #004643; 
      color: white;    }
  
    .remove-cell {
      color: #e74c3c;
      cursor: pointer;
      width: 2%; 
      white-space: nowrap;
    }
  
    td {
      &:first-child {
        text-align: center; 
      }
    .quantity-input::-webkit-inner-spin-button,
    .quantity-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  .quantity-input-prod {
    width: 100%; 
    padding: 4px;
    margin: auto; 
    text-align: center; 
  }
    }
  

    tr:hover {
      background-color: #ecf0f1;
    }


  }
  