.products-table {
    width: 100%;
    margin-top: 15px; 
    table {
      width: 100%;
      border-collapse: collapse; 
      table-layout: fixed; 
  
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd; 
        padding-left: 20px; 
        &:last-child {
          text-align: right;
        }
      }
  
      th {
        background-color: #004643; 
        color: white;


      }
      th:nth-child(n+2), 
      td:nth-child(n+2) { 
        text-align: left; 
        padding-left: 20px; 
      }
  
      .details-btn,
      .movements-btn {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        background-color: #009688; 
        color: white;
  
        &:hover {
          background-color: darken(#009688, 10%); 
        }
      }
  
      .movements-btn {
        background-color: #009688; 
        &:hover {
          background-color: darken(#009688, 10%);
        }
      }
    }
  }
  